## Introduzindo Operações Básicas com Tipos Numéricos e Booleanos

1 - Compute a saída da seguinte expressão matemática sem realizar nenhuma simplificação:
$ a^{2} + \frac{3}{4} \times b \times 987(c - \frac{10^{-9}}{\sqrt{0.5^{3}}}) $. Assuma que os valores das variáveis a, b e c correpondam a 2, 4 e 8, respectivamente. Armazene o resultado em uma variável.

Dica: consulte os operadores aritméticos disponíveis no Python. Utilize a biblioteca math para operação de raiz.

In [ ]:
import math as mt
a = 2
b = 4 
c = 8
y = a**2 + 3/4 * b * 987*(c-(10**-9/mt.sqrt(0.5**3)))
print (y)

23691.999991625027

2 - Armazene em uma variável o resto da divisão da expressão anterior por 23691.

In [ ]:
x = y%23691
print (x)

0.9999916250271781

3 - Cheque se a saída do resto da divisão é ***i) igual a 1***, ***ii) maior que 1***, ***iii) menor ou igual que 1*** e ***iv) diferente de 1***. Utilize a função *print* para exibir a saída de cada checagem. Consulte os operadores relacionais disponívels no Python.

In [ ]:
print (x == 1)
print (x >= 1)
print (x <= 1)
print (x != 1)

False
False
True
True

4 - Exiba a saída de operações booleanas do tipo **AND** e do tipo **OR** entre dois termos que apresentem valores: 
1. **verdadeiros**;
2. **verdadeiro e falso**;
3. **falsos**.

Ao todo devem ser apresentadas seis operações.

In [ ]:
print (x <= 1 and x != 1)
print (x <= 1 or x == 1)
print (x <= 1 or x >= 1)
print (x != 1 or x == 1)
print (x != 1 or x >= 1)
print (x == 1 and x >= 1)

True
True
True
True
True
False

5 - Escreva a seguinte expressão booleana **(A + B) . (¬B . A)**. Considere que "+" indica uma operação  OR; "." indica uma operação AND e ''¬'' indica uma operação de negação (NOT). Defina previamente a variávei *A* com valor verdadeiro e a variávei *B* com valor falso.

In [ ]:
A = 1 < 2
B = 1 > 2

(A or B) and (not B and A)

True

6 - Cheque se a saída da expressão booleana da questão imediatamente anterior é falsa.

In [ ]:
print ((A or B) and (not B and A))

True

## Introduzindo Operações com Strings

Dica: você pode utilizar a função *help(arg)* para visualizar os métodos que podem ser acessados a partir de uma variável de um tipo qualquer.

Segue abaixo alguns exemplos:

```
# Exemplo usando como argumento a função que representa o tipo de dado
help(str)

# Exemplo usando uma variavel qualquer
a = "teste"
help(a)

# Exemplo utilizando uma variavel do tipo dicionário
dicionario = {"chave":"valor"}
help(dicionario)

```

7 - Defina uma variável com o valor "hello wORld". Utilize as funções de string do Python para reproduzir as seguintes saídas: "Hello World", "hello world", "HELLO WORLD".  Dica: para visualizar as funções disponíveis digite em uma célula de código `'str' ` e em seguida tecle tab.

In [ ]:
x = 'hello wORld'
print (x.title())
print (x.lower())
print (x.upper())

Hello World
hello world
HELLO WORLD

8 - Dada a seguinte frase " *Esse é o seu primeiro tweet.* ", remova os espaços em branco das extremidades. Em seguida, substitua a palavra *'primeiro'* por *'segundo'*. 



**Observação:** a operação para remoção de espaços não atua em um modo '*in-place*', isto é, não altera diretamente o objeto, apenas retorna uma cópia modificada que pode ser armazenada em uma variável. A seguir, pode-se conferir um exemplo de uma operação que não é in-place e requer que assinalemos uma variável para receber a modificação.

In [ ]:
x = ' Esse é o seu primeiro tweet. '
y = x.strip()
print (y)

Esse é o seu primeiro tweet.

In [ ]:
z = y.replace('primeiro', 'segundo')
print (z)

Esse é o seu segundo tweet.

9 - Fazendo uso do resultado da questão anterior, exiba a quantidade de ocorrências da palavra *'segundo'* e em seguida a quantidade de caracteres *'s'*.

In [ ]:
z.count('segundo')
z.count('s')

4

10 - Concatene duas variáveis do tipo strings com valores arbitrários e exiba o resultado.

**Observação:** A string resultante deve possuir no mínimo quatro caracteres.

In [ ]:
x = 'olá mundo '
y = 'bom dia pessoal '
z = (x + y)
print (z)

olá mundo bom dia pessoal

11 - Utilize a indexação e exiba apenas do segundo ao quarto caractere da variável do tipo string resultante questão imediatamente anterior.

In [ ]:
print (z[2:4])

á

12 - Exiba a string "Mensagem: " seguida pela string armazenada na variável *msg* definida abaixo. Dica: utilize a função format().

In [ ]:
msg = "This is your first tweet."
print ('Mensagem: ' + msg)

Mensagem: This is your first tweet.

13  - Reproduza as próximas três mensagens a partir das variáveis definidas na célula de código.

**Mensagem**: Definir uma string com três aspas simples permite construir textos com quebra de linha automática.

In [1]:
tipo_var = "string"
qtd = "três"
print ('Definir uma', tipo_var, 'com', qtd, 'aspas simples permite construir textos com quebra de linha automática.')

Definir uma string com três aspas simples permite construir textos com quebra de linha automática.

**Mensagem**:  O número pi é aproximadamente 3.14

In [3]:
pi = 3.14159
print ('O número pi é aproximadamente', pi)

O número pi é aproximadamente 3.14159

**Mensagem**: O meu nome é [*receber string via input*] e eu tenho [*receber inteiro via input*] anos.

In [4]:
print ('O meu nome é', input(), 'e eu tenho', input(), 'anos')

Breno
26
O meu nome é Breno e eu tenho 26 anos

## Introduzindo Estruturas de Dados

Nessa sessão serão exploradas as estruturas de dados do tipo lista, tupla e dicionário. Para realizar os exercícios abaixos baseados em listas podem ser utilizados métodos como *sum(arg), extend(), reverse(), append(), insert(index, element), sort()*.

### Listas

14 - Realize as seguintes operações:


1. Crie uma lista vazia.
2. Adicione três elementos do tipo inteiro ao final da lista (*o método para adição de novos elementos em uma lista atua de forma in-place, portanto, basta invocá-lo.*).
3. Adicione um novo elemento na segunda posição da lista (*método in-place).
4. Exiba a soma dos quatro elementos (*python já possui uma função built-in para esssa operação*.)
5. Re-assinale o elemento da terceiro posição com um valor do tipo float.
6. Repita o passo 4.
7. Inverta os elementos da lista atual. (*função para inversão é in-place*)
8. Re-ordene os elementos da lista.
9. Armazene uma nova lista em uma variável qualquer com 2 números inteiros.
10. Concatena a nova lista criada com a lista resultante do passo 7.
11. Exiba o valor máximo e mínimo da resultante do passo anterior.

In [39]:
# Passo 1
list = []

# Passo 2
list.append(1)
list.append(2)
list.append(3)

# Passo 3
list.insert(2, 4)

# Passo 4
sum(list)

# Passo 5
list.pop(3)
list.append(5.3)

# Passo 6
sum(list)

# Passo 7
list.reverse()

# Passo 8
list.sort()

# Passo 9
l2 = [9, 10]

# Passo 10
l2.extend(list)

# Passo 11
min(l2), max(l2)

(1, 10)

15 - Converta a string definida abaixo em uma lista de palavras, armazene a lista em uma variável. Dica: cheque as operações disponíveis para strings.

In [43]:
frase = "Formação de Recursos Humanos Qualificados em Inteligência Artificial"

l3 = frase.split(' ')
l3

['Formação',
 'de',
 'Recursos',
 'Humanos',
 'Qualificados',
 'em',
 'Inteligência',
 'Artificial']

16 - Verifique se a palavra "Humanos" está contida na lista de palavras criada anteriormente. Exiba True ou False para indicar a resposta.

In [47]:
h = 'Humanos' in l3
print (h)

True

17 - Crie automaticamente uma lista contendo 50 elementos de valor 3 e armazene-a em uma variável. Dica: utilize o operador de multiplicação.

In [56]:
l4 = []
for i in range(50):
  l4.append(3)

l4.count(3)

50

### Tuplas

18 - Converta a lista resultante da primeira questão sobre Listas para uma tupla e exiba o tipo de dados do objeto criado. Após realizar o casting, utilize a indexação para exibir todos os elementos com exceção do primeiro e último.

In [78]:
l2
t = tuple(l2)
type(t)
l2[1:5]

[10, 5.3, 4, 2]

19 - Exiba os atributos/métodos disponíveis a partir objetos do tipo lista e tuple utilizados na questão anterior. Dica: utilize o método dir.

In [79]:
dir(l2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [80]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

20 - Crie uma tupla contendo 5 números inteiros quaisquer. Em seguida, exiba o valor máximo e o valor mínimo da tupla criada.

In [83]:
t2 = (5,6,7,8,9)
min(t2), max(t2)

(5, 9)

### Dicionários

21 - A partir do dicionário inicializado abaixo com quatro items, adicione três novos items com chaves "three", "four" e "five" e valores "três", "quatro" e "cinco".

In [85]:
my_dict = {}
my_dict["one"] = "um"
my_dict["two"] = "dois"
my_dict[(1,2)] = ["um","dois"]
my_dict[1.3] = "um ponto três"
my_dict["three"] = "três"
my_dict["four"] = "quatro"
my_dict["five"] = "cinco"
my_dict

{(1, 2): ['um', 'dois'],
 1.3: 'um ponto três',
 'five': 'cinco',
 'four': 'quatro',
 'one': 'um',
 'three': 'três',
 'two': 'dois'}

22 - A partir do dicionário definido anteriormente, remova o item ("one", "um") do dicionário.

In [86]:
my_dict.pop('one')
my_dict

{(1, 2): ['um', 'dois'],
 1.3: 'um ponto três',
 'five': 'cinco',
 'four': 'quatro',
 'three': 'três',
 'two': 'dois'}

23 - A partir do dicionário definido anteriormente, realize as seguintes operações ordenadamente.

1.   Exiba a quantidade de items do dicionário.
2.   Gere automaticamente uma lista contendo as  chaves do dicionário.
3.   Gere automaticamente uma lista contendo os valores do dicionário.
4.   Gere automaticamente uma lista composta por tuplas do tipo (chave, valor).
5.   Remova os items cuja chaves são (1,2) e 1.3.
6.   Exiba o dicionário final

In [153]:
# Passo 1
len(my_dict)

# Passo 2
my_dict.keys()

# Passo 3
my_dict.values()

# Passo 4 
my_dict.items()

# Passo 5
my_dict.pop((1, 2))
my_dict.pop(1.3)

# Passo 6
my_dict

{'five': 'cinco', 'four': 'quatro', 'three': 'três', 'two': 'dois'}

24 - A partir dos dicionários '*en*' e '*pt_br*' definidos abaixo, crie um terceiro dicionário denominado '*translator*' cujas chaves são, respectivamente, 'en' e 'pt_br' e os valores sejam os dicionários correspondentes. Exiba o dicionário criado.

In [155]:
pt_br = {1:"um", 2:"dois", 3:"tres"}
en = {1:"one", 2:"two", 3:"three"}

translator = {'one':'um', 'two':'dois', 'three':'três'}
translator

{'one': 'um', 'three': 'três', 'two': 'dois'}